include *.md
include tox.ini
include .pre-commit-config.yaml
include .vscode/settings.json

recursive-include src *.py
recursive-include src *.j2
recursive-include src *.jinja
recursive-include src *.sh
recursive-include src *.txt
recursive-include src *.yml

recursive-include docs *.gitignore
recursive-include docs *.ini
recursive-include docs *.md
recursive-include docs *.py
recursive-include docs *.txt
recursive-include docs Makefile

recursive-exclude docs/.venv *
recursive-exclude docs/.mxmake *
recursive-exclude docs/html *
recursive-exclude news *
recursive-exclude config *
recursive-exclude shared-workflows *
