image: %(custom_image)s
##
# Add extra configuration options in .meta.toml:
#  [gitlab]
#  custom_image = "python:3.11-bullseye"
##

stages:
  - qa
  - test

##
# JOBS
##
lint:
  stage: qa
  script:
    - pip install tox
    - tox -e lint
  except:
    - schedules

release-ready:
  stage: qa
  script:
    - pip install tox
    - tox -e release-check
  except:
    - schedules

dependencies:
  stage: qa
  script:
    - pip install tox
    - tox -e dependencies
  except:
    - schedules

circular-dependencies:
  stage: qa
  script:
    - apt-get update
    - apt-get install -y graphviz graphviz-dev
    - pip install tox
    - tox -e circular
  except:
    - schedules

testing:
  stage: test
  script:
    - pip install tox
    - tox -e test
  except:
    - schedules

coverage:
  stage: test
  script:
    - pip install tox
    - tox -e coverage
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml
  except:
    - schedules

%(extra_lines)s
##
# Add extra configuration options in .meta.toml:
#  [gitlab]
#  extra_lines = """
#  _your own configuration lines_
#  """
##
