name: Meta
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  workflow_dispatch:

jobs:
{% for job_name in jobs %}
  %(job_name)s:
    uses: plone/meta/.github/workflows/%( job_name | replace("-", "_") )s.yml@%( branch )s
{% endfor %}
%(additional_jobs)s
##
# Specify additional jobs in .meta.toml:
#  [github]
#  additional_jobs = """
#  another:
#    uses: org/repo/.github/workflows/file.yml@main
#  """
##
