[tool.towncrier]
filename = "CHANGES.rst"
directory = "news/"
title_format = "{version} ({project_date})"
underlines = ["-", ""]

[[tool.towncrier.type]]
directory = "breaking"
name = "Breaking changes:"
showcontent = true

[[tool.towncrier.type]]
directory = "feature"
name = "New features:"
showcontent = true

[[tool.towncrier.type]]
directory = "bugfix"
name = "Bug fixes:"
showcontent = true

[[tool.towncrier.type]]
directory = "internal"
name = "Internal:"
showcontent = true

[[tool.towncrier.type]]
directory = "documentation"
name = "Documentation:"
showcontent = true

[[tool.towncrier.type]]
directory = "tests"
name = "Tests"
showcontent = true

[tool.isort]
profile = "plone"

[tool.black]
target-version = ["py38"]
{% if codespell_ignores %}

[tool.codespell]
ignore-words-list = "%(codespell_ignores)s"
{% endif %}
{% if dependencies_ignores or dependencies_mapping %}

[tool.dependencychecker]
{% if dependencies_ignores %}
ignore-packages = %(dependencies_ignores)s
{% endif %}
{% for line in dependencies_mapping %}
%(line)s
{% endfor %}
{% endif %}
