{% if metadata %}
[metadata]
    {% for key, value in metadata %}
%(key)s = %(value)s
    {% endfor %}

{% endif %}
{% if options %}
[options]
    {% for key, value in options %}
%(key)s = %(value)s
    {% endfor %}

{% endif %}

[check-manifest]
ignore =
    .editorconfig
    .meta.toml
    .pre-commit-config.yaml
    tox.ini
%(check_manifest_ignore)s

%(extra_lines)s
