[base]
description = shared configuration for tests and coverage
use_develop = true
skip_install = false
constrain_package_deps = %(constrain_package_deps)s
set_env =
    ROBOT_BROWSER=headlesschrome
%(test_environment_variables)s
##
# Specify extra test environment variables in .meta.toml:
#  [tox]
#  test_environment_variables = """
#      PIP_EXTRA_INDEX_URL=https://my-pypi.my-server.com/
#  """
#
# Set constrain_package_deps .meta.toml:
#  [tox]
#  constrain_package_deps = false
##
deps =
    {[test_runner]deps}
    %(constraints_file)s
    %(test_deps_additional)s
##
# Specify additional deps in .meta.toml:
#  [tox]
#  test_deps_additional = """
#     -esources/plonegovbr.portal_base[test]
#  """
#
# Specify a custom constraints file in .meta.toml:
#  [tox]
#  constraints_file = "https://my-server.com/constraints.txt"
##
extras =
    test
%(test_extras)s
%(testenv_options)s
##
# Add extra configuration options in .meta.toml:
#  [tox]
#  test_extras = """
#      tests
#      widgets
#  """
#
# Add extra configuration options in .meta.toml:
#  [tox]
#  testenv_options = """
#  basepython = /usr/bin/python3.8
#  """
##
