[testenv:init]
description = Prepare environment
skip_install = true
{% if use_mxdev %}
deps =
    mxdev
commands =
    mxdev -c mx.ini
    echo "Initial setup for mxdev"

{% else %}
commands =
    echo "Initial setup complete"

{% endif %}
