[tox]
# We need 4.4.0 for constrain_package_deps.
min_version = 4.4.0
envlist =
    lint
    test
    dependencies
%(envlist_lines)s
%(config_lines)s
##
# Add extra configuration options in .meta.toml:
#  [tox]
#  envlist_lines = """
#      my_other_environment
#  """
#  config_lines = """
#  my_extra_top_level_tox_configuration_lines
#  """
##

[testenv]
skip_install = true
allowlist_externals =
    echo
    false
# Make sure typos like `tox -e formaat` are caught instead of silently doing nothing.
# See https://github.com/tox-dev/tox/issues/2858.
commands =
    echo "Unrecognized environment name {envname}"
    false
%(testenv_options)s
##
# Add extra configuration options in .meta.toml:
#  [tox]
#  testenv_options = """
#  basepython = /usr/bin/python3.8
#  """
##

{% include 'tox-init.j2' %}

{% include 'tox-qa.j2' %}

{% include 'tox-test-runner-specifics.j2' %}

{% include 'tox-base.j2' %}

{% include 'tox-test-coverage.j2' %}

{% include 'tox-plone-depending-qa.j2' %}

%(extra_lines)s
##
# Add extra configuration options in .meta.toml:
#  [tox]
#  extra_lines = """
#  _your own configuration lines_
#  """
##
